#loginDiv{
    margin-top: 5%;
}

#newQuestionDiv{
    margin-top: 5%;
}

#registerDiv{
    margin-top: 5%;
}

#loginBtn{
    background-color: #6c757d;
    border-color: #6c757d;
    margin-top: 2%;
}

#regsiterBtn{
    background-color: #6c757d;
    border-color: #6c757d;
    margin-top: 2%;
}

#btnDiv{
    text-align: center;
}

#titleDiv{
    text-align: center;
    margin-top: 3%
}

#alertDiv{
    margin-top: 1%;
    text-align: center;
}

#searchBar{
    margin-top: 2%;
    margin-bottom: 2%;
}

#searchDiv{

}

#questionDiv{
    margin-top: 1%;
}

#queryDiv{
    margin-bottom: 1%;
}