<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>New Question</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct" crossorigin="anonymous"></script>
</head>
<body>
    <div class="container-fluid">
        <!-- Nav-Bar -->
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
          <a class="navbar-brand" href="#">QAEngine</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item">
                <a class="nav-link" href="{{url_for('platform')}}">Search</a>
              </li>
              <li class="nav-item active">
                    <a class="nav-link" href="#">New Question<span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item">
                    <a class="nav-link" href="{{url_for('logout')}}">Logout</a>
              </li>
            </ul>
            <span class="navbar-brand active">
                Hello, {{user}}
            </span>
          </div>
        </nav>

        <!-- Title -->
        <div class="row">
            <div class="col-4"></div>
            <div class="col" id="titleDiv">
                <h1 class="display-1">New Question</h1>
            </div>
            <div class="col-4"></div>
        </div>

        <!-- New Question Form -->
        <div class="row" id="newQuestionDiv">
            <div class="col-4"></div>
            <div class="col">
                <form action="#" method="post">
                      <div class="form-group">
                        <label for="questionInput">Question</label>
                        <input type="text" name="question" class="form-control" id="questionInput" required>
                      </div>
                      <div class="form-group">
                        <label for="answerPassword">Answer</label>
                        <input type="text" name="answer" class="form-control" id="answerPassword" required>
                      </div>
                        <div id="btnDiv">
                            <button type="submit" class="btn btn-primary" id="loginBtn">Submit</button>
                        </div>
                </form>
            </div>
            <div class="col-4"></div>
        </div>

    </div>
</body>
</html>